body{
    margin: 0px;
    border: 0px;
    padding: 0px;
}
#header{
    background-color: #202020;
    width: 100%;
    height: 2.4EM;
    margin: 0px;
    border: 0px;
    padding: 0px;
}
#headerText{
    font-size: 2EM;
    font-family: helvetica;
    float: left;
}
div.headerNavBox{
    height: 2EM;
    float: left;
    margin: 0.4EM 0.4EM 0.4EM 6%;
}
a.headerNavText:link{
    color: #AAAAAA;
    font-family: helvetica;
    font-size: 1.6EM;
    text-align: center;
    text-decoration: none;
}
a.headerNavText:visited{
    color: #AAAAAA;
    font-family: helvetica;
    font-size: 1.6EM;
    text-align: center;
    text-decoration: none;
}
a.headerNavText:hover{
    color: #EEEEEE;
    font-family: helvetica;
    font-size: 1.6EM;
    text-align: center;
    text-decoration: none;
}
a.headerNavText:active{
    color: #AAAAAA;
    font-family: helvetica;
    font-size: 1.6EM;
    text-align: center;
    text-decoration: none;
}


div.bodyHalf{
    width: 50%;
    min-height: 500px;
    max-height: 70%;
    float: left;
    background-color: #FFFFFF;
    color: #FFFFFF;
}
div.quarter{
    min-width: 280px;
    width: 46%;
    min-height: 200px;
    height: 50%;
    margin: 10px;
    float: left;
    background-color: #CCCCCC;
}
#Footer{
    clear: both;
    height: 80px;
    background-color: #E0E0E0;
}
div.footBox{
    padding: 10px;
    width: 200px;
    background-color: #E0E0E0;
}
a.footText{
    color: #A0A0A0;
    line-height: 0.5EM;
    font-family: helvetica;
}
a.headerLink:link{
    text-decoration: none;
    color: #CCCCCC;
}
a.headerLink:visited{
    text-decoration: none;
    color: #CCCCCC;
}
a.headerLink:hover{
    text-decoration: none;
    color: #EEEEEE;
}
a.headerLink:active{
    text-decoration: none;
    color: #CCCCCC;
}